<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/public">Public stuff</a> | <a href="/private">Private stuff</a> | <a href="/admin">Admin stuff</a> | <a href="/">Sign Up</a> | <a href="/login">Log In</a> | <a href="/logout">Log Out</a>
    </nav>
    {{{body}}}
  </body>
</html>
