<h1>Authorization funtime.</h1>
<h2>Signup</h2>

<form action="/signup" method="post">
  <label for="username">Username</label>
  <input id="username" type="text" name="username"><br>
  <label for="firstname">First Name</label>
  <input id="firstname" type="text" name="firstname"><br>
  <label for="lastname">Last Name</label>
  <input id="lastname" type="text" name="lastname"><br>
  <label for="password">Password</label>
  <input id="password" type="text" name="password"><br>
  <input type="submit" name="submit" value="Submit">
</form>


<a href="/login">Already a user? Click here to sign in. </a>
